@font-face {
  font-family: "Gotham Pro bold";
  src: url("../fonts/Gotham_Pro_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/Gotham_Pro.ttf") format("truetype");
}

footer {
  margin-top: 150px;
  display: flex;
  justify-content: space-evenly;
}

.footer_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.logo_name {
  position: relative;
}

.logo_name h2 {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 60.95px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  position: relative;
}

.logo_name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  height: 2px;
  background-color: #000;
  transform: translateY(-10px);
}

.text_footer p {
  font-family: Gotham Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.78px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.social_network ul {
  display: flex;
  justify-content: center; /* Центрирование всех элементов внутри блока */
  margin-top: 22px;
  gap: 35px;
  list-style-type: none;
}

.rectangle {
  display: flex; /* Используем flexbox */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  position: relative;
  width: 67px; /* Убедитесь, что ширина соответствует картинке */
  height: 67px; /* Задаём высоту */
  text-decoration: none;
  color: black;
}

.rectangle_image {
  position: absolute;
  width: 100%; /* Картинка занимает весь блок */
  height: 100%; /* Высота картинки соответствует контейнеру */
  cursor: pointer;
}

.social {
  position: relative; /* Иконка располагается в центре */
  width: 24px; /* Размер иконки */
  height: 24px;
  transition: color 0.3s ease;
}

.social:hover {
  color: #ff4e88;
}

.rectangle:hover .social {
  color: #ff4e88;
}

.footer_rigth {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 70px;
}

.navigation_footer h4,
.contacts h4 {
  font-family: Gotham Pro bold;
  font-size: 20px;
  font-weight: 700;
  line-height: 32.78px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 37px;
}

.list_nav_footer {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.list_nav_footer li a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #696969;
  transition: color 0.3s ease;
}

.list_nav_footer li a:hover {
  color: #ff4e88;
}

.copy-text.copied {
  background-color: #4caf50;
  color: white;
}

.container {
  margin-top: 66px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  width: 90vw;
  border-top: 1px solid #fde4f0;
}

.information ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.information ul li {
  padding: 27px;
}

.information ul li a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #696969;
  transition: color 0.3s ease;
}

.information ul li a:hover {
  color: #ff4e88;
}

@media screen and (max-width: 1500px) {
  footer {
    padding-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: #FF4E88;
    color: white;
  }

  .information ul li a {
    color: black;
    text-align: left;
  }

  .text_footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }

  .footer_left {
    align-items: flex-start;
    text-align: left;
  }

  .footer_rigth {
    align-items: flex-start;
    gap: 40px;
  }

  .logo_name::before {
    left: 0;
    transform: translateY(-10px);
    background-color: white;
  }

  .logo_name h2 {
    color: white;
    text-align: left;
    margin-bottom: 40px;
  }

  .text_footer p {
    text-align: left;
    color: white;
    margin: 0;
  }

  .navigation_footer h4,
  .contacts h4 {
    text-align: left;
    color: white;
    margin-bottom: 40px;
  }

  .list_nav_footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .list_nav_footer li a {
    text-align: left;
    color: white;
  }

  .contacts .list_nav_footer li a {
    color: black;
  }

  .container {
    display: none;
  }
}
